td {
    border: 1px solid black;
}

td {
    height: 41px;
    width: 41px;
}

.ship {
    background-color: #343a40;
    border-color: #343a40;
}

.hit {
    td-background-image: "images/dot.svg";
}

.miss {
    td-background-image: "images/x-lg.svg";
}