td {
    border: 1px solid black;
}

td {
    height: 41px;
    width: 41px;
}

.ship {
    background-color: #343a40;
    border-color: #343a40;
}

.hit {
    background-image: url("./images/x-lg.svg");
    background-size: cover;
}

.miss {
    background-image: url("./images/dot.svg");
    background-size: cover;
}

caption {
    height: calc(30px + 1.5rem);
}

caption::after {
    display: inline-block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: -0.5px;
}

caption.ready::after {
    content: url("./images/check.svg");
}

caption.highlight {
    font-weight: 600;
    color: #343a40;
}

caption.highlight::before {
    content: url("./images/arrow-right.svg");
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 7px;
}