<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Main page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.6.0/css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/table.css}" type="text/css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand mb-0 h1">
        <span th:text="Battleship"></span>&nbsp;
    </a>
</nav>
<div class="container" style="margin-top: 60px">
    <div class="form-row">
        <div class="col-md-6 d-flex justify-content-center">
            <table id="my_board">
                <caption style="caption-side: top; text-align: center; font-size: large" th:text="user_1"></caption>
                <th:block th:each="i: ${#numbers.sequence(0, 9)}">
                    <tr>
                        <th:block th:each="j: ${#numbers.sequence(0, 9)}">
                            <td th:attr="data-x=${i},data-y=${j}"></td>
                        </th:block>
                    </tr>
                </th:block>
            </table>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <table id="opponents_board">
                <caption style="caption-side:top; text-align: center; font-size: large" th:text="user_2"></caption>
                <th:block th:each="i: ${#numbers.sequence(0, 9)}">
                    <tr>
                        <th:block th:each="j: ${#numbers.sequence(0, 9)}">
                            <td th:attr="data-x=${i},data-y=${j}"></td>
                        </th:block>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>
    <div class="form-row text-center" style="margin-top: 30px">
        <div class="col-12">
            <span th:text="Text"></span>
        </div>
    </div>
    <div class="form-row text-center" style="margin-top: 30px">
        <div class="col-12">
            <button type="submit" class="btn btn-outline-dark" style="width: 300px">Arrange ships</button>
        </div>
    </div>
    <div class="form-row text-center" style="margin-top: 15px">
        <div class="col-12">
            <button disabled type="submit" class="btn btn-outline-dark" style="width: 300px">Ready to play</button>
        </div>
    </div>
    <div class="form-row text-center" style="margin-top: 15px">
        <div class="col-12">
            <button disabled type="submit" class="btn btn-dark" style="width: 300px">Start game</button>
        </div>
    </div>
</div>
</body>
</html>