<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Main page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.6.0/css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/table.css}" type="text/css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand mb-0 h1">
        <span th:text="Welcome"></span>&nbsp;
        <span th:text="user"></span>(<span th:text="${#numbers.formatDecimal(10, 0, 1, 'POINT')}"></span>)
    </a>
</nav>
<div class="container m-7 p-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <table id="my_board">
                    <th:block th:each="i: ${#numbers.sequence(0, 9)}">
                        <tr>
                            <th:block th:each="j: ${#numbers.sequence(0, 9)}">
                                <td th:attr="data-x=${i},data-y=${j}"></td>
                            </th:block>
                        </tr>
                    </th:block>
                </table>
            </div>
            <div class="col-md-6">
                <table id="opponents_board">
                    <th:block th:each="i: ${#numbers.sequence(0, 9)}">
                        <tr>
                            <th:block th:each="j: ${#numbers.sequence(0, 9)}">
                                <td th:attr="data-x=${i},data-y=${j}"></td>
                            </th:block>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </div>
</body>
</html>